- @title = root

= partial("header", :locals => { :file => false, :idx => idx })

- if contents && contents.any?
  %table#fileListing.condensed-table.zebra-striped
    %thead
      %tr
        %th File
        %th Author
        %th Last Modified
        %th Size

    %tbody
      - contents.each_with_index do |f, i|
        %tr
          %td
            %img{ :src => "/img/#{f.is_directory ? 'folder' : 'file'}.png", :width => 16, :height => 16 }
            %a{ :href => "/#{idx}#{request.path_info}/#{f.name}" }
              = f.name
          %td.author
          %td.modified
          %td.size

- if contents.empty?
  %p No files were found in this directory.

.row
  .span6
    %form.upload{ :method => "post", :enctype => "multipart/form-data", :action => "/#{idx}#{request.path_info}?mode=upload" }
      %p Upload file to this directory
      %input{:type => 'file', :value => "Select a file", :name => "file", :class => "uploader", :size => 12}
      %input{:type => 'submit', :value => "Upload file", :class => "btn secondary" }
  .span8
    %form.add
      %p Add new file or directory
      %input{:type => 'text', :name => "path", :class => "edit", :placeholder => "somefile.md or somedir" }
      %input{:type => 'submit', :value => "New file", :class => "btn secondary file" }
      %input{:type => 'submit', :value => "New directory", :class => "btn secondary directory" }

- if rendered_readme
  .contents
    = preserve rendered_readme
