- @title = root

= partial("header", :locals => { :parent => parent, :file => true, :idx => idx  })

%form{ :class => "edit", :action => "/#{idx}#{request.path_info}?mode=save", :method => "post", :style => "display:none;" }
  #editor
  %textarea{ :id => 'data', :name => "data" }= preserve contents
  %input{ :type => 'submit', :value => "Save", :class => "btn primary" }
  %a{ :href => "/#{idx}#{request.path_info}", :class => "btn secondary" } Cancel
  %input{ :type => 'hidden', :class => 'filename', :value => request.path_info }

= partial("ace_scripts")

