%h1= root

- if parent
  %a{ :href => parent.empty? ? "/#{idx}" : "/#{idx}#{parent}", :class => "parent" }
    &#8618;
    = parent.empty? ? '/' : parent
- else
  %a{ :href => "/", :class => "parent" }
    &#8618; Back to selection

%h2
  = request.path_info.empty? ? '/' : request.path_info
  %a{ :href => "?mode=raw" }
    (raw)
  %a{ :href => "?mode=edit" }
    (edit)

%form{ :class => "edit", :action => "/#{idx}#{request.path_info}/save", :method => "post", :style => "display:none;" }
  #editor
  %textarea{ :id => 'data', :name => "data" }= preserve contents
  %input{ :type => 'submit', :value => "Save" }
  %a{ :href => "/#{idx}/#{request.path_info}" } Cancel
  %input{ :type => 'hidden', :class => 'filename', :value => request.path_info }

<script src="/js/util.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/theme-tomorrow_night.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/mode-css.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/mode-html.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/mode-markdown.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/mode-ruby.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/edit.js" type="text/javascript" charset="utf-8"></script>


