- @title = root

= partial('header', locals: { file: true, idx: idx })

- if revisions && revisions.any?
  %table#revisions.condensed-table.zebra-striped
    %thead
      %tr
        %th Commit
        %th Subject
        %th Author
        %th Committed
        %th Revert

    %tbody
      - revisions.each do |r|
        %tr
          %td.commit
            %a{ href: "?revision=#{r[:commit]}" }
              = r[:commit]
          %td.subject= r[:subject]
          %td.author= r[:author]
          %td.date.reldate= r[:date].iso8601
          %td.revert
            %a{ href: "?mode=revert&revision=#{r[:commit]}" }
              = r[:commit]
- if revisions.empty?
  %p No revisions for this file could be found.
