- @title = "Matches for #{request.params['q'].inspect}"
%script{ :src => "/js/search.js", :type => "text/javascript", :charset => "utf-8" }

.results{ "data-query" => request.params['q'] }
  -if results.empty?
    %h2 No results
  -else
    - results.each do |repo, search_results|
      %h2= repo.name
      %dl
        - search_results.each do |res|
          %dt
            %a{:href => "/#{repo.index}/#{res.file}"}
              = "/#{res.file}"
          %dd
            = res.context