- @title = "Settings"

%form#settings{:method => 'POST', :action => '/settings'}
  %h2 Gitdocs
  #config.field.config
    %input{:type =>'hidden', :value => '0', :name=>"config[load_browser_on_startup]"}
    %input{:type =>'checkbox', :value => '1', :name=>"config[load_browser_on_startup]", :checked => conf.global.load_browser_on_startup ? 'checked' : nil}
    %span Open browser on startup?

  %h2 Shares
  - conf.shares.each_with_index do |share, idx|
    %div{:id => "share-#{idx}", :class => "share #{idx % 2 == 0 ? 'even' : 'odd'}"}
      %dl
        %dt Path
        %dd
          %input{:name=>"share[#{idx}][path]", :value => share.path, :class => "path" }
      %dl
        %dt Polling interval
        %dd
          %input{:name=>"share[#{idx}][polling_interval]", :value => share.polling_interval}

      - if share.available_remotes
        %dl
          %dt Remote
          %dd
            %select{:name=>"share[#{idx}][remote_branch]"}
              - share.available_remotes.each do |remote|
                %option{:value => remote, :selected => remote == "#{share.remote_name}/#{share.branch_name}" ? 'selected' : nil}
                  = remote
      - else

        %dl
          %dt Remote
          %dd
            %input{:name=>"share[#{idx}][remote_name]", :value => share.remote_name}
        %dl
          %dt Branch
          %dd
            %input{:name=>"share[#{idx}][branch_name]", :value => share.branch_name}
      .notify.field
        %input{:type =>'hidden', :value => '0', :name=>"share[#{idx}][notification]"}
        %input{:type =>'checkbox', :value => '1', :name=>"share[#{idx}][notification]", :checked => share.notification ? 'checked' : nil}
        %span Notifications?
      .delete{ :style => "display: none;" }
        %input{:type =>'button', :value => "Delete", :class => "btn danger"}
        %input{:type =>'hidden', :name=>"share[#{idx}][delete]"}

  %input{:value => 'Save', :type => 'submit', :class => "btn primary" }
  %a{ :class => "btn secondary new-share", :href => "/shares", :"data-method" => "post" } Add Share